.main {
    margin: 100px 0 20px 0;
}

.alert {
    border: 1px solid #000000;
    background: orange;
    padding: 10px;
    margin: 5px;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    padding: 20px;
    border-bottom: 1px solid black;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: gray;
}

nav ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

.gravatar {
    border-radius: 100%;
}

.profile {
    display: table;
}

.profile img, .profile span {
    padding-right: 5px;
    display: table-cell;
    vertical-align: middle;
}