<div class="forms">
    <div class="tools-alert tools-alert-red" ng-show="err">{{ err }}</div>

    <form class="unit-75 unit-centered">
        <label for="email">Email <span class="forms-desc">Please enter your email</span>
            <input class="width-100" type="email" id="email" ng-model="formData.email"/>
        </label>

        <label for="password">Password <span class="forms-desc">Please enter your password</span>
            <input class="width-100" type="password" id="password" ng-model="formData.password"/>
        </label>
        <p>
            <button class="btn btn-blue width-100" ng-click="login()">Login</button>
        </p>

    </form>
</div>