<div ng-if="!loggedIn">
    <h1>Welcome to the Dionysus</h1>
    <h2>Todo WebApp</h2>

    <p>To start using the app, please <a href="#/login">login</a>
        or <a href="#/register">register</a>.</p>
</div>


<div class="todos" ng-if="loggedIn">
    <h1>Todos: </h1>
    <ul>
        <li class="group" ng-repeat="todo in todos">
            {{ todo.text }}
            <a class="fa fa-trash right" ng-click="delete(todo._id)"></a>
        </li>
    </ul>
    <form id="addTodo">
        <input class="width-75" ng-model="formData.text" type="text"/>
        <button class="btn width-20" type="submit" ng-click="submit()">Add</button>
    </form>
</div>